<div>
    <br />
    <br />
</div>

<div class="container mucho-margin-top">

    <div>
        <h1 class="display-2">File Upload</h1>
        <h3>Choose a file to upload from your computer. The file will be stored in the <span style="color: aqua;">uploaded</span> folder, inside of the <span style="color: red;">wwwroot</span> folder.</h3>
    </div>

    @using (Html.BeginForm("Upload", "FileUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="form-group col-md-6">
                <input type="file" class="form-control" name="formFile" />
            </div> 
            <div class="form-group col-md-6">
                <input type="submit" name="filesubmit" value="Upload" />
            </div>
        </div>
    }
</div>