@model Product

<div class="container mucho-margin-top">

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1>@Model.Name</h1>

</div>
