<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]ASP.NET Core MVC Identity Demo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <script src="https://kit.fontawesome.com/7160ed62e4.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-dark fixed-top navbar-expand-lg dark-nav mb-3">
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <span>
                @if (User?.Identity?.IsAuthenticated ?? false)
                {
                    <a class="btn btn-outline-danger mx-2" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                }
            </span>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item m-2">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Home</a>
                    </li>
                    <li class="nav-item m-2">
                        <a class="nav-link" asp-area="" asp-controller="Product" asp-action="Index"><i class="fas fa-shopping-bag"></i> Products</a>
                    </li>
                    <li class="nav-item m-2">
                        <a class="nav-link" asp-area="" title="File Upload" asp-controller="FileUpload" asp-action="Index"><i class="fa-solid fa-upload"></i> File Upload Demo</a>
                    </li>                    
                    <li class="nav-item m-2">
                        <a class="nav-link" asp-area="" title="Youtube Video Embed Demo" asp-controller="YoutubeEmbedDemo" asp-action="Index"><i class="fa-brands fa-youtube"></i> Embedding a Video</a>
                    </li>
                    <li class="nav-item m-2">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-code"></i>&emsp;API Demos
                            </button>
                            <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenu1">
                               <a class="nav-link" asp-area="" asp-controller="OpenWeatherMap" asp-action="Index"><i class="fas fa-cloud-sun-rain"></i> Weather API</a>
                               <a class="nav-link" asp-area="" title="KanyeREST API Demo" asp-controller="APIDemo" asp-action="Index"><i class="fa-solid fa-face-smile-wink"></i> KanyeREST API Demo</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item m-2">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-brands fa-js"></i>&emsp;JavaScript Demos
                            </button>
                            <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenu2">
                                <a class="dropdown-item text-success" asp-area="" asp-controller="CodePens" asp-action="PointerLock">Three.js PointerLock Demo</a>
                                <a class="dropdown-item text-success" asp-area="" asp-controller="CodePens" asp-action="Index">JS CodePen Demo</a>
                                <a class="dropdown-item text-success" asp-area="" asp-controller="Vantajs" asp-action="Index">Vantajs Demo</a>
                                <a class="dropdown-item text-success" asp-area="" asp-controller="Threejs" asp-action="Index">Three.js 3D Demo</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-2">
        @RenderBody()
    </main>

    <footer class="text-center text-white">
        <div class="d-flex justify-content-center">
            <p>&copy; 2022 - ASP.NET_Core_Identity_Demo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p>
            @*<div id="collapse-btn" class="btn btn-outline-info">Collapse</div>*@
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>