@model IEnumerable<System.Security.Claims.Claim>

<div class="container mucho-margin-top">
    <h2 class="display-4 text-white-50 text-center">Claims</h2>

    <a asp-action="Create" class="btn btn-outline-primary">Create a Claim</a>
    <br />
    <br />
    <table class="table table-striped table-dark table-hover">
        <tr>
            <th>Subject</th>
            <th>Issuer</th>
            <th>Value</th>
            <th>Delete</th>
        </tr>

        @foreach (var claim in Model.OrderBy(x => x.Type))
        {
            <tr>
                <td>@claim.Subject.Name</td>
                <td>@claim.Issuer</td>
                <td>@claim.Value</td>
                <td>
                    <form asp-action="Delete" method="post">
                        <input type="hidden" name="claimValues" value="@claim.Type;@claim.Value;@claim.Issuer" />
                        <button type="submit" class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>
</div>
