@using ASP.NET_Core_Identity_Demo.Models;
@model User

<div class="container mucho-margin-top">
    <br />
    <h1 class="bg-info text-white m-5">Create User</h1>
<div asp-validation-summary="All" class="text-danger"></div>

<form method="post">
    
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Age"></label>
        <input asp-for="Age" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Country"></label>
        <select asp-for="Country" class="form-control" asp-items="@new SelectList(Enum.GetNames(typeof(Country)))">
            <option selected disabled value="Select">Select Country</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="MonthlySalary"></label>
        <input asp-for="MonthlySalary" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
<a asp-controller="Account" asp-action="Login" class="btn btn-secondary">Back</a>
</form>
</div>
